.compose {
  box-sizing: border-box;
  padding-left: 10px; 
  padding-right: 10px;
  padding: 10px;
  display: inline-block;
/* flex-direction: column; */
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  /* position: sticky;  */
    bottom: 0px;
  width: 100%;

  /* width: calc(100% - 20px); */
  bottom: 0px;
}
@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(234, 159, 57, 0.7);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  /* flex: 1;
  border: none;
  font-size: 14px;
  height: 60px;
  background-color: white;*/
  flex:5;
  display: inline;
  border-radius: 5px; 
  background-color: white;
  margin-right:30px;
}

.compose-input::placeholder {
  opacity: 0.3;
  color: black;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}
.compose form{
  display: flex;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
.button{
  /* flex:1; */
  padding:200px;
  flex-basis: 100px;
  display: inline;
  color:white;
}
.sizedBox{
  padding: 5px;
}